<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GrblPanel.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GrblPanel.My.MySettings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="JoggingUnitsMetric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Work0Cmd" serializeAs="String">
                <value>G90 G10 L20 P0 X0 Y0 Z0</value>
            </setting>
            <setting name="StatusPollEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusVerbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusPollInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WorkX0Cmd" serializeAs="String">
                <value>G90 G10 L20 P0 X0</value>
            </setting>
            <setting name="WorkY0Cmd" serializeAs="String">
                <value>G90 G10 L20 P0 Y0</value>
            </setting>
            <setting name="WorkZ0Cmd" serializeAs="String">
                <value>G90 G10 L20 P0 Z0</value>
            </setting>
            <setting name="JoggingFRImperial" serializeAs="String">
                <value>100,50,10,5</value>
            </setting>
            <setting name="JoggingFIImperial" serializeAs="String">
                <value>1,0.1,0.01,0.001</value>
            </setting>
            <setting name="JoggingFIMEtric" serializeAs="String">
                <value>10,1,0.1,0.01 </value>
            </setting>
            <setting name="JoggingFRMetric" serializeAs="String">
                <value>1000,500,100,5</value>
            </setting>
            <setting name="QBuffMaxSize" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="RBuffMaxSize" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="JoggingXRepeat" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="JoggingZRepeat" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="JoggingYRepeat" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="GCodePauseOnError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrblConnectOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoggingUseKeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftHandedGUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineSpclPosition1" serializeAs="String">
                <value>G28</value>
            </setting>
            <setting name="MachineSpclPosition2" serializeAs="String">
                <value>G30</value>
            </setting>
            <setting name="GrblLastParamID" serializeAs="String">
                <value>$132</value>
            </setting>
            <setting name="JoggingFIDefault" serializeAs="String">
                <value>I2</value>
            </setting>
            <setting name="JoggingFRDefault" serializeAs="String">
                <value>F2</value>
            </setting>
        </GrblPanel.My.MySettings>
    </userSettings>
</configuration>
